<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1010"
  android:versionCodeMajor="5">

  <application>
    <meta-data android:name="DeviceInfoServiceTests.testGetPropertyFromManifest.do.not.delete" android:value="this_is_a_value"/>
    <activity android:name="com.adobe.marketing.mobile.internal.DataMarshallerTests$TestActivity" />
    <activity
        android:name="com.adobe.marketing.mobile.services.ui.RestrictedConfigActivity"
        android:configChanges="orientation"
        />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
