version: 2.1

orbs:
  android: circleci/android@2.0

jobs:
  build-and-unit-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2022.01.1

    steps:
      - checkout
      - run:
          name: Check format
          command: make check-format

      - run:
          name: Assemble phone release
          command: make assemble-phone-release
      
      - run:
          name: Verify Core APIs
          command: make api-check

      - run:
          name: JavaDoc
          command: make javadoc

      - run:
          name: Download Codecov Uploader
          command: |
            curl -s https://codecov.io/bash > codecov;
            VERSION=$(grep 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
            for i in 1 256 512
            do
              shasum -a $i -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM") ||
              shasum -a $i -c <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep -w "codecov")
            done

      - run:
          name: Run Core unit tests
          command: make core-unit-test-coverage

      - store_test_results:
          path: code/android-core-library/build/test-results/testPhoneDebugUnitTest

      - run:
          name: Upload Core unit test coverage
          command: |            
            bash ./codecov -v -X s3 -c -D "./code/android-core-library/build/reports/coverage/test/phone/debug" -F unit-tests

      - run:
          name: Run Signal unit tests
          command: make signal-unit-test-coverage

      - store_test_results:
          path: code/android-signal-library/build/test-results/testPhoneDebugUnitTest

      - run:
          name: Upload Signal coverage report
          command: |            
            bash ./codecov -v -X s3 -c -D "./code/android-signal-library/build/reports/coverage/test/phone/debug" -F unit-tests

      - run:
          name: Run Lifecycle unit tests
          command: make lifecycle-unit-test-coverage

      - store_test_results:
          path: code/android-lifecycle-library/build/test-results/testPhoneDebugUnitTest

      - run:
          name: Upload Lifecycle coverage report
          command: |            
            bash ./codecov -v -X s3 -c -D "./code/android-lifecycle-library/build/reports/coverage/test/phone/debug" -F unit-tests

  functional-test:
      executor:
        name: android/android-machine
        resource-class: large
        tag: 2022.01.1

      steps:
        - checkout
        
        - android/start-emulator-and-run-tests:
            system-image: system-images;android-29;default;x86
            post-emulator-launch-assemble-command: make assemble-phone
            test-command: make functional-test-coverage

        - run:
            name: Download Codecov Uploader
            command: |
              curl -s https://codecov.io/bash > codecov;
              VERSION=$(grep 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
              for i in 1 256 512
              do
                shasum -a $i -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM") ||
                shasum -a $i -c <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep -w "codecov")
              done

        - run:
            name: Upload Core coverage report
            command: |                        
              bash ./codecov -v -X s3 -c -D "./code/android-core-library/build/reports/coverage/androidTest/phone/debug" -F functional-tests

        - run:
            name: Upload Signal coverage report
            command: |            
              bash ./codecov -v -X s3 -c -D "./code/android-signal-library/build/reports/coverage/androidTest/phone/debug" -F functional-tests

        - run:
            name: Upload Lifecycle coverage report
            command: |            
              bash ./codecov -v -X s3 -c -D "./code/android-lifecycle-library/build/reports/coverage/androidTest/phone/debug" -F functional-tests

  integration-test:
      executor:
        name: android/android-machine
        resource-class: large
        tag: 2022.01.1

      steps:
        - checkout
        
        - android/start-emulator-and-run-tests:
            system-image: system-images;android-29;default;x86
            post-emulator-launch-assemble-command: make assemble-phone
            test-command: make integration-test

        - store_test_results:
            path: code/integration-tests/build/outputs/androidTest-results/connected

workflows:
  version: 2
  aepsdk-core-ci: 
    jobs:
      - build-and-unit-test
      - functional-test
      - integration-test      
