version: 2.1

orbs:
  android: circleci/android@2.4.0
  codecov: codecov/codecov@3.2.4

jobs:
  build-and-unit-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2024.01.1

    steps:
      - checkout
      - run:
          name: Check format
          command: make checkformat

      - run:
          name: Check style
          command: make checkstyle

      - run:
          name: Assemble phone release
          command: make assemble-phone-release

      - run:
          name: Verify Core APIs
          command: make api-check

      - run:
          name: Install jitpack (core) to maven local
          command: make core-publish-maven-local-jitpack

      - run:
          name: Install jitpack (signal) to maven local
          command: make signal-publish-maven-local-jitpack

      - run:
          name: Install jitpack (lifecycle) to maven local
          command: make lifecycle-publish-maven-local-jitpack

      - run:
          name: Install jitpack (identity) to maven local
          command: make identity-publish-maven-local-jitpack

      - store_artifacts:
          path: code/core/build/libs

      - store_artifacts:
          path: code/signal/build/libs

      - store_artifacts:
          path: code/lifecycle/build/libs

      - store_artifacts:
          path: code/identity/build/libs

      - run:
          name: Run Core unit tests
          command: make core-unit-test-coverage

      - store_test_results:
          path: code/core/build/test-results/testPhoneDebugUnitTest

      - codecov/upload:          
          file: ./code/core/build/reports/coverage/test/phone/debug/report.xml
          flags: unit-tests
      
      - run:
          name: Run Signal unit tests
          command: make signal-unit-test-coverage

      - store_test_results:
          path: code/signal/build/test-results/testPhoneDebugUnitTest

      - codecov/upload:          
          file: ./code/signal/build/reports/coverage/test/phone/debug/report.xml
          flags: unit-tests

      - run:
          name: Run Lifecycle unit tests
          command: make lifecycle-unit-test-coverage

      - store_test_results:
          path: code/lifecycle/build/test-results/testPhoneDebugUnitTest

      - codecov/upload:          
          file: ./code/lifecycle/build/reports/coverage/test/phone/debug/report.xml
          flags: unit-tests

      - run:
          name: Run Identity unit tests
          command: make identity-unit-test-coverage

      - store_test_results:
          path: code/identity/build/test-results/testPhoneDebugUnitTest

      - codecov/upload:          
          file: ./code/identity/build/reports/coverage/test/phone/debug/report.xml
          flags: unit-tests

  functional-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2024.01.1

    steps:
      - checkout

      - android/start-emulator-and-run-tests:
          system-image: system-images;android-29;default;x86
          post-emulator-launch-assemble-command: make assemble-phone
          test-command: make functional-test-coverage
          
      - codecov/upload:
          file: "\
                ./code/core/build/reports/coverage/androidTest/phone/debug/connected/report.xml,\
                ./code/signal/build/reports/coverage/androidTest/phone/debug/connected/report.xml,\
                ./code/identity/build/reports/coverage/androidTest/phone/debug/connected/report.xml,\
                ./code/lifecycle/build/reports/coverage/androidTest/phone/debug/connected/report.xml"                
          flags: functional-tests      

  integration-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2024.01.1

    steps:
      - checkout

      - android/start-emulator-and-run-tests:
          system-image: system-images;android-29;default;x86
          post-emulator-launch-assemble-command: make assemble-phone
          test-command: make integration-test

      - store_test_results:
          path: code/integration-tests/build/outputs/androidTest-results/connected

workflows:
  version: 2
  aepsdk-core-ci:
    jobs:
      - build-and-unit-test
      - functional-test
      - integration-test
