<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.adobe.marketing.mobile.core.testapp.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEPSDKCoreAndroid">
<!--        <profileable-->
<!--            android:shell="true"-->
<!--            tools:targetApi="q" />-->

        <activity
            android:name="com.adobe.marketing.mobile.core.testapp.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AEPSDKCoreAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootBroadcastReceiver"
          android:exported="false"
          android:directBootAware="true"
          tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>